<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/default_layout">
<head>
    <meta charset="UTF-8"/>
    <title th:text="#{article.titleText}"></title>

</head>
<body>

    <!--Start Container-->
    <div class="container" layout:fragment="content">
    <div class="table-responsive">

        <div class="contain">
            <h4 th:text="#{article.list}"></h4>
            <form method="get" action="/article" class="form-control mr-sm-2" >
                <input th:field="${filter.title}" class="form-control mr-sm-10" type="search" autocomplete="off" th:placeholder="#{article.search}" aria-label="Search">
                <select class="form-control mr-sm-2" th:field="${filter.cate_id}">
                    <option value="0"​ th:text="#{article.filter}">Filter</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                </select>
            </form>
        </div>
        <div class="container">
            <table class="table">
                <thead class="thead-dark">
                <tr>
                    <th scope="col" th:text="#{id}">#</th>
                    <th scope="col" th:text="#{title}"></th>
                    <th scope="col" th:text="#{category}"></th>
                    <th scope="col" th:text="#{description}"></th>
                    <th scope="col" th:text="#{author}"></th>
                    <th scope="col" th:text="#{createDate}"></th>
                    <th scope="col" th:text="#{thumbnail}"></th>
                    <th scope="col" colspan="3" th:text="#{action}">Action</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="article: ${articles}" th:object="${article}">
                    <th scope="row" th:text="*{id}"></th>
                    <td th:text="*{title}"></td>
                    <td th:text="*{category.cateTitle}"></td>
                    <td th:text="*{description}"></td>
                    <td th:text="*{author}"></td>
                    <td th:text="*{createdDate}"></td>
                    <td><a th:href="@{/article/{id}(id=*{id})}"/>
                        <img th:src="*{thumbnail}" alt="" style="width: 120px; height: 120px;"/></td>
                    <td>
                        <button type="button" class="btn btn-primary">
                            <a th:href="@{/article/{id}(id=*{id})}"/>View</a>
                        </button>
                    </td>
                    <td>
                        <button type="button" class="btn btn-warning">
                            <a th:href="@{/update/{id}(id=*{id})}"/>Update</a>
                        </button>
                    </td>
                    <td>
                        <button type="button" class="btn btn-danger">
                            <a th:href="@{/delete/{id}(id=*{id})}"/>Delete</a>
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>

            <button type="button" class="btn btn-primary"><a href="/add">Add New</a></button>
            <!--<button type="button" class="btn btn-primary"><a href="/upload">Upload</a></button>-->
        </div>
        <nav aria-label="Page navigation">
            <ul class="pagination justify-content-end">
                <li class="page-item disabled">
                    <a class="page-link" href="#" tabindex="-1">Previous</a>
                </li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item">
                    <a class="page-link" href="#">Next</a>
                </li>
            </ul>
        </nav>
    </div>
    </div>
        <!--End Container-->
    </div>
</body>
</html>